In [3]:
import pandas as pd

In [18]:
df = pd.read_csv('IMDB-Movie-Data.csv')
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014.0,121.0,8.1,757074.0,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012.0,124.0,7.0,485820.0,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016.0,117.0,7.3,157606.0,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016.0,108.0,7.2,60545.0,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016.0,123.0,6.2,393727.0,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015.0,111.0,6.2,27585.0,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007.0,94.0,5.5,73152.0,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008.0,98.0,6.2,70699.0,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014.0,93.0,5.6,4881.0,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
          ###################################      SOLUTIONS      ########################################

In [23]:
#How many movies are listed in the titles dataframe?
len(df)

1000

In [35]:
#What are the earliest two films listed in the titles dataframe?¶
df.sort_values('Year').head(2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
113,114,300,"Action,Fantasy,War",King Leonidas of Sparta and a force of 300 men...,Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",2006.0,117.0,7.7,637104.0,210.59,52.0
246,247,Children of Men,"Drama,Sci-Fi,Thriller","In 2027, in a chaotic world in which women hav...",Alfonso Cuarón,"Julianne Moore, Clive Owen, Chiwetel Ejiofor,M...",2006.0,109.0,7.9,382910.0,35.29,84.0

In [54]:
#How many movies have the title "Hamlet"?
len(df[df.Title == 'Hamlet'])

0

In [53]:
len(df[df.Title == 'Hamlet']) #No movie with name Hamlet

0

In [ ]:
#How many movies are titled "North by Northwest"?

In [52]:
len(df[df.Title == 'North by Northwest'])

0

In [ ]:
#When was the first movie titled "Hamlet" made?

In [56]:
df[df.Title == 'Hamlet'].sort_values('Year').head(1)

Empty DataFrame
Columns: [Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore]
Index: []

In [ ]:
#List all of the "Treasure Island" movies from earliest to most recent.

In [58]:
df[df.Title == 'Treasure Island'].sort_values('Year')

Empty DataFrame
Columns: [Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore]
Index: []

In [59]:
len(df[df.Title == 'Treasure Island']) #No movie with name Treasure Island

0

In [ ]:
#How many movies were made in the year 1950?

In [60]:
len(df[df.Year == 1950]) #No movies

0

In [ ]:
#How many movies were made in the year 1960?

In [61]:
len(df[df.Year == 1960]) #No movies

0

In [ ]:
#How many movies were made from 1950 through 1959?

In [62]:
mov = df

In [64]:
len(mov[(mov.Year >= 1950) & (mov.Year <= 1959)]) #No movies

0

In [ ]:
#In what years has a movie titled "Batman" been released?

In [65]:
mov = df

In [66]:
mov[mov.Title == 'Batman'] #No movie with name Batman

Empty DataFrame
Columns: [Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore]
Index: []

In [67]:
len(df[df.Title == 'Batman'])

0

In [ ]:
#How many roles were there in the movie "Inception"?

In [73]:
df = pd.read_csv('IMDB-Movie-Data.csv')

In [124]:
hero = df.Actors

In [126]:
len(hero[df.Title == 'Inception'])

0

In [ ]:
#How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [148]:
crew = df.Actors

In [149]:
crew = crew[crew.Title == 'Inception']

AttributeError: 'Series' object has no attribute 'Title'

In [150]:
crew = crew[crew.Rank.isnull()]

AttributeError: 'Series' object has no attribute 'Rank'

In [151]:
len(crew)

0

In [152]:
#But how many roles in the movie "Inception" did receive an "n" value?

In [153]:
role = df.Actors
role = role[role.Title == 'Inception']
role = role[role.Rank.notnull()]
len(role)

AttributeError: 'Series' object has no attribute 'Title'

In [ ]:
Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [154]:
c = 'Actors'
c = c[c.title == 'North by Northwest']
c = c[c.Rank.notnull()]
c = c.sort_values('Rank')
c

AttributeError: 'str' object has no attribute 'Rank'

In [ ]:
#Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [156]:
cast = Actors
cast = cast[cast.title == 'Sleuth']
cast = cast[cast.year == 1972]
cast = cast.sort_values('Rank')
cast

NameError: name 'Actors' is not defined

In [ ]:
## How many roles were credited in the silent 1921 version of Hamlet?

In [160]:
c = df(Actors)
c = c[(c.Title == 'Hamlet') & (c.Year == 1921)]
len(c)

NameError: name 'Actors' is not defined